.container{

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 500px;
    height: 500px;
    padding: 20px;

}

.socialbtn{

    position: absolute;
    right: 20px;
    top: 20px;
    width: 120px;
    height: 40px;

}

.socialbtn button{

    width: 100%;
    height: 100%;
    font-size: 20px;
    color: rgb(127, 127, 127);
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor:pointer;

}

.ddudo{
    width:400px;
    text-align: center;
    margin:20px auto;
    font-size: 80px;
    font-weight: 800;
    color:rgb(84,135,255);
}

.ddudodes{

    width:300px;
    text-align: center;
    margin:10px auto;
    font-size:20px;
    word-spacing: 3px;
    font-weight: 500;

}

.startbtn{

    position: relative;
    top: 30%;
    width: 180px;
    height: 50px;
    margin: 0 auto;

}

.startbtn button{

    width: 180px;
    height: 50px;
    font-size: 17px;
    font-weight: 800;
    background-color: rgb(84,135,255);
    color: #fff;
    border: 0;
    border-radius: 25px;
    outline: 0;
    box-shadow: 1px 1px 5px 0 #000;
    cursor: pointer;

}